# Dependencies
node_modules/
.pnp/
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Env (commit .env.example instead)
.env
.env*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
.vscode/
.idea/

# Testing
coverage/
